@use "./_mixins.scss" as *;

.header {
  height: 60px;
  background-color: var(--ifm-background-color) !important;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f1f2f2;
  //   padding-bottom: 64px;

  .container {
    @include xs {
      padding: 0;
    }
  }

  .navbar {
    box-shadow: none;
    height: 59px;

    &__inner {
      @include mid(true);
      justify-content: space-between;
      align-items: center;
    }
    &__items {
      width: fit-content;
    }
  }
}
